# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspacedata

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
*.xcworkspace

# Swift Package Manager
.build/
Packages/
Package.resolved

# Firebase
GoogleService-Info.plist
.env
firebase-debug.log
ui-debug.log

# Cloud Functions
Firebase/functions/node_modules/

# OS
.DS_Store
*.swp
*~
